name: Deploy to neociteis

on:
  push:
    branches:
      - master

env:
  node-version: lts/*
  FORCE_COLOR: 1

concurrency: # prevent concurrent deploys doing strange things
  group: deploy-to-neocities
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Create LFS file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id
    - name: Restore LFS cache
      uses: actions/cache@v5
      id: lfs-cache
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1
    - name: Git LFS Pull
      run: git lfs pull

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{env.node-version}}
    - name: npm install and build
      run: |
        npm i
        npm run build
    - name: Deploy to neocities
      uses: bcomnes/deploy-to-neocities@v3
      with:
        api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
        cleanup: true
        preview_before_deploy: true
        neocities_supporter: true
